.nbar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nbar-right {
  flex: 4;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nbar-list {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nbar-list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.nbar-list a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
}

.nbar-list a:hover {
  color: var(--red);
}

.nbar-contact {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nbar-left {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nbar-left span:first-child {
  font-size: 150%;
  font-weight: 600;
}
