.intro {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 50%;
}

.socials {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-wheel {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  animation: circulate 50s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphic {
  width: 50%;
  height: auto;
  animation: circulate 50s linear infinite reverse;
}

.icon-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#linkedin {
  top: -50px;
  left: calc(50% - 50px);
}

.icon-wrapper svg {
  width: 70%;
  transition: all 0.3s ease 0s;
  animation: circulate 50s linear infinite reverse;
}

#github {
  left: 0;
  top: 86.6%;
  transform: translate(0%, -100%);
}

#gmail {
  right: 0;
  top: 86.6%;
  transform: translate(0%, -100%);
}

.icon-wrapper:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  box-shadow: 0px 8px 15px var(--blueShadow);
}

.icon-wrapper:hover .icon-social path {
  fill: white;
}

@keyframes circulate {
  100% {
    transform: rotate(360deg);
  }
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.name span {
  font-size: 75px;
}

.name-in span:nth-child(1) {
  color: var(--blue);
  font-weight: 600;
}

.summary span {
  font-size: 50px;
}

.summary span:nth-child(2) {
  color: var(--red);
  font-weight: 600;
}

.intro-btn {
  margin: 5px;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateY(-200px) translateX(-50%);
  }
  100% {
    transform: rotate(360deg) translateY(-200px) translateX(-50%);
  }
}

.orbitball {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 999px;
  z-index: -1;
  filter: blur(4px);
  animation: orbit 30s linear infinite;
}

/* .orbitball::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background-color: var(--red);
} */

/* .blur-ball {
  position: absolute;
  width: 150px;
  height: 1px;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
} */
