:root {
  --blue: #4bacfc;
  --red: #c6444e;
  --blueShadow: #4bacfc8f;
  --redShadow: #c6444f94;
}

.main-btn {
  background-color: var(--blue);
  padding: 5px;
  border-radius: 999px;
  color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  box-shadow: 0px 8px 15px var(--blueShadow);
  transition: all 0.3s ease 0s;
}

.main-btn:hover {
  background-color: var(--red);
  box-shadow: 0px 8px 15px var(--redShadow);
  transform: translateY(-5px);
}

/* .App{
  background-color: var(--blue);
  width: 100px;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
